body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.title {
    color: white;
    font-family: 'Origin', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: top 2.5s ease-in-out, transform 2.5s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: normal;
}

.title.glide {
    top: 25%;
    transform: translate(-50%, 0);
    margin-bottom: 40px;
}

#fadeInText {
    font-family: 'Origin', sans-serif;
    font-size: 1.3em;
    font-style: italic;
    color: white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease-in-out;
    margin-top: 70px;
    white-space: normal;
}

#fadeInText.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 3.2s;
}

#fadeInText p:first-child {
    margin-bottom: 20px;
}

#cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

audio {
    display: none;
}

#Calvin {
    display: block;
    margin: 20px auto 0 auto;
    width: 20%;
    height: auto;
}

/* Media Queries for smaller screens */
@media (max-width: 600px) {
    .title {
        font-size: 2.5em; /* Reduce font size for mobile */
        top: 30%; /* Adjust top position */
    }

    #fadeInText {
        font-size: 0.75em; /* Reduce font size for mobile */
        margin-top: 100px;
    }

    #Calvin {
        width: 30%; /* Adjust image size for mobile */
    }
}
