body {
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
}

.centered {
    color: white;
    font-size: 4em;  /* Increase the font size for better visibility */
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid white; /* Optional: Cursor effect */
}

#message {
    display: inline-block;
    opacity: 0;
    animation: write 6s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes write {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}
