body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.title {
    color: white;
    font-family: 'Origin', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: top 2.5s ease-in-out, transform 2.5s ease-in-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: normal;
}

.title.glide {
    top: 20%; /* Lower this so that it doesn't interfere with other elements */
    transform: translate(-50%, 0);
    margin-bottom: 40px;
}

#fadeInText {
    font-family: 'Origin', sans-serif;
    font-size: 1.3em;
    font-style: italic;
    color: white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease-in-out;
    margin-top: 50px; /* Adjust this to reduce overlap */
    white-space: normal;
}

#fadeInText.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 3.2s;
}

#fadeInText p:first-child {
    margin-bottom: 20px;
}

#cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
    position: fixed; /* Position fixed for centering */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Correct centering */
    font-size: 2.5em; /* Adjust size to match your title */
    color: white; /* Ensure it's visible */
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}

audio {
    display: none;
}

#Calvin {
    display: block;
    margin: 20px auto 0 auto;
    width: 20%;
    height: auto;
}

/* Media Queries for smaller screens */
@media (max-width: 600px) {
    .title {
        font-size: 1.75em; /* Further reduce font size for mobile */
        top: 15%; /* Adjust top position to give more space */
    }

    #fadeInText {
        font-size: 1em; /* Reduce font size for mobile */
        margin-top: 80px; /* Increase margin-top to give space */
    }

    #fadeInText p {
        margin-bottom: 20px; /* Ensure there's spacing between paragraphs */
    }

    #Calvin {
        width: 40%; /* Adjust image size for mobile */
    }

    #cursor {
        font-size: 1.75em; /* Adjust cursor size for mobile */
    }
}
